<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Đăng nhập hệ thống : GiaoHang</title>

    <link href="~/Public/admins/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Public/admins/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Public/admins/style.css" rel="stylesheet" />
    <link href="~/Public/admins/css/animate.css" rel="stylesheet">
    <link href="~/Public/admins/status/css/style.css" rel="stylesheet" />
    <link href="~/Public/admins/status/css/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Public/admins/status/css/toastr.min.css" rel="stylesheet" />

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>

            <h3>Nhan Vien Giao Hang dang nhap</h3>


            <form id="loginForm">
                <input type="text"  class="form-control" id="userInput" placeholder="Username or Email" />
                <input type="password"  class="form-control" id="passwordInput" placeholder="Password" />
                <button  type="submit" class="btn btn-primary block full-width m-b" onclick="login()">Login</button>
            </form>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/Public/admins/js/jquery-3.1.1.min.js"></script>
    <script src="~/Public/admins/js/popper.min.js"></script>
    <script src="~/Public/admins/js/bootstrap.js"></script>
    <script src="~/Public/admin/status/js/karma.laclac.min.js"></script>
    <script src="~/Public/admin/status/js/sweetalert2.min.js"></script>
    <script src="~/Public/admin/status/js/toastr.min.js"></script>
    <script>
        function login() {
            var userInput = $("#userInput").val();
            var passwordInput = $("#passwordInput").val();

            $.ajax({
                type: "POST",
                url: "/GiaoHang/Auths/Login",
                data: { User: userInput, Pass: passwordInput },
                success: function (response) {
                    if (response.s === 0) {
                        // Redirect to the delivery dashboard
                        window.location.href = response.redirectUrl;
                    } else if (response.s === 1) {
                        alert("User does not exist.");
                    } else if (response.s === 2) {
                        alert("Incorrect password.");
                    }
                }
            });
        }
    </script>
</body>

</html>
